
/*  Siolon’s Global Reset */


* {  
  vertical-align: baseline;  
  font-family: inherit;  
  font-style: inherit;  
  font-size: 100%;  
  border: none;  
  padding: 0;  
  margin: 0;  
  }  
body {  
  padding: 5px;  
  }  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
  margin: 20px 0;  
  }  
li, dd, blockquote {  
  margin-left: 40px;  
  }  
table {  
  border-collapse: collapse;  
  border-spacing: 0;  
  }


  /*  My CSS */

  body {
    font-family: 'Perpetua', Garamond, serif;
    background-color: #fc6;
    padding: 5px;
    margin-top: 30px;
  }

  h1, h2 {
    font-family: 'Avenir', Helvetica, sans-serif;
    background-color: #c96;
    color: #ccf;
    margin: 5px;
    padding: 5px;
  }

  /* Styling Links */

a:link {
  color: #3cc;
  text-decoration: none;
}
a:visited {
  color: #9cf;
}
a:hover {
  color: #ccf;
  text-decoration: underline;
  background-color: rgba(255, 204, 102, .5);
}
a:active {
  color: #3cc;
  text-decoration: underline;
}

.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #c96;
}


section {
  width: 75%;
  position: ;
  padding: 10px;
  margin: 10px;
  background-color: #ccf;
}

.articles {
  background-color: #9cf;
  color: #ccf;
  padding: 5px;
  margin: 5px;
}

#register {
  background-color: #cc6;
  color: #3cc;
  padding: 10px;
  margin: 5px;
  font-size: 22px;
  position: relative;
}


#about {
  position: relative;
  padding: 5px;
  margin: 10px;
  float: left;
  font-size: 22px;
}

#bestmatch {
  margin-top: 30px;
}


@media screen and (min-width: 768px)
.jumbotron {
  padding: 48px 0;
}
