
/*  Siolon’s Global Reset */


* {  
  vertical-align: baseline;  
  font-family: inherit;  
  font-style: inherit;  
  font-size: 100%;  
  border: none;  
  padding: 0;  
  margin: 0;  
  }  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
  margin: 1.250em 0;  
  }  
li, dd, blockquote {  
  margin-left: 2.500em;  
  }  
table {  
  border-collapse: collapse;  
  border-spacing: 0;  
  }



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




  /*  My CSS */

  /*  General Styling  */


  body {
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(255, 204, 102, 1);                         /* Yellow */
    padding: 0.313em;
    margin-top: 1.875em;
    line-height: 2;
  }

  h1, h2 {
    font-family: 'Poiret One', cursive;
    background-color: rgba(204, 153, 102, 1);                   /* Tan */
    color: rgba(204, 204, 255, 1);                              /*  Blue-light */          
    margin: 0.313em;
    padding: 0.313em;
    border-radius: 0.250em;
    box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);      /*  Black */
  }

  /* Styling Links */

a:link {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  text-decoration: none;
}
a:visited { 
  color: rgba(153, 204, 255, 1);                                /*  Blue-medium */ 
}
a:hover {
  color: rgba(204, 204, 255, 1);                                /*  Blue-light */
  text-decoration: underline;
  background-color: rgba(255, 204, 102, .75);                   /* Yellow */
}
a:active {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  text-decoration: underline;
}

/*   Styling the Jumbotron on the index page  */

#jumbotron {
  padding: 1.875em 0.938em;
  margin-top: 4.688em;
  color: inherit;
  background-color: rgba(204, 153, 102, 1);                     /* Tan */
}

/*   Tooltips styling   */

.tooltip {
  display: none;
  position: absolute;
  border: 0.063em solid rgba(153, 204, 255, 1);                 /*  Blue-medium */
  background-color: rgba(204, 153, 102, 1);                     /* Tan */
  border-radius: 0.250em;
  padding: 0.625em;
  color: rgba(153, 204, 255, 1);                                /*  Blue-medium */
  font-size: 1em;
}



/*  Styling for the 'About' section on the index page */

#about {
  color: rgba(153, 204, 255, 1);                                /*  Blue-medium */
  background: rgba(204, 153, 102, 1);                           /* Tan */
  padding: 0.313em;
  margin: 0.625em;
  font-size: 1.500em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  text-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);       /*  Black */
}

#about h2 {
  color: rgba(204, 153, 102, 1);                                /* Tan */
  background: rgba(255, 204, 102, .75);                         /* Yellow */
  text-shadow: none;
}



/*   Styling the sections and articles on the results page --------------------------------- */

section {
  width: 80%;
  position: static;
  padding: 0.625em;
  margin: 0.625em;
  background-color: rgba(204, 153, 102, 1);                     /* Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);
}

.articles {
  width: 80%;
  background-color: rgba(204, 153, 102, 1);                     /* Tan */
  color: rgba(153, 204, 255, 1);                                /*  Blue-medium */
  padding: 0.313em;
  margin: 0.625em;
  border: 0.188em solid rgba(204, 153, 102, 1);                 /* Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  border-radius: 0.375em;
}

/*  Just moving the headers farther down the page on the results page ------------------------ */

#bestmatch {
  margin-top: 3.125em;
  background-color: rgba(153, 204, 255, 1);                     /*  Blue-medium */
  color: rgba(255, 169, 75, 1);                                 /* Orange */ 
}

/*  Styling for the descriptions on the results page -------------------------------------- */

.description {
  position: relative;
  color: rgba(204, 153, 102, 1);                                /* Tan */ 
  font-size: 1.500em;
  padding: 0.313em;
  margin: 0.313em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
}

h3.namestyles {
  color: rgba(204, 153, 102, 1);                                /* Tan */  
  font-size: 1.750em;
  text-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);       /*  Black */
}

/*  Styling for the login and new member forms on the login page - I was considering combining them, depending on the requirements.  */

#login, #newMember {
  font-size: 1.250em;
  width: 45%;
  float: left;
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */  
  padding: 0.313em;
  margin: 0.938em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  background: rgba(204, 153, 102, 1);                           /* Tan */
}

div#login {
  margin-top: 5.00em;
}

#newMember {
  margin-top: 5.00em;
}

form.login {
  height: 12.500em;
  margin: 0.625em;
}
/*  Styling Images  */

#loginimgs {
  margin-top: 7.500em;
  float: left;
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  padding: 0.313em;
}

img.boy, img.girl, img.ads {
  top: 3.750em;
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  padding: 0.313em;
  background: rgba(252, 251, 251, .75);                         /* Light */
  margin: 0.313em;
}

/*  Styling for a little bit more content that is comprised of 'About' pages for the favorites, detail, signup and search pages,
                 as there is not much content on those as of yet...Then, adding some effects to the content in the About Sections,
                 which help guide the users  */

#favesAbout, #searchAbout {
  font-size: 1.500em;
  background-color: rgba(204, 153, 102, 1);                     /* Tan */
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  padding: 1.250em;
  margin-top: 4.688em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 25.000em;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, .7);                               /*  Black */
}

/*   commented out, because I put the hover classes in the desktop (and above) media queries -------------------

#favesAbout:hover, #searchAbout:hover {
  white-space: normal;
  font-size: 1.525em;
  background: rgba(51, 204, 204, 1);                            /*  Teal */
 /* color: rgba(204, 153, 102, 1);                                /* Tan */
 /* padding: 1.250em;
  margin-top: 4.688em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
/*  border: 0.125em solid rgba(204, 153, 102, 1);                 /* Tan */
/*  text-shadow: rgba(0, 0, 0, .7);                               /*  Black */
/*} */
 

/*  Attempting to style the image on the detail page  */

#detailDress img {
  width: 70%;
  height: 70%;
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  padding: 0.625em;
  background: rgba(252, 251, 251, .75);                         /* Light */
  margin-top: 3.750em;
}

/*  Styling the content on the detail page so the projects can be styled and rearranged --------------------  */


#detailpg {
  width: 90%;
  background: rgba(204, 204, 255, 1);                           /* Blue-light */
  border-radius: 0.375em; 
  padding: 0.625em;
  margin:0.625em;
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
}

.detaildescript {
  width: 25.000em;
  position: relative;
  font-size: 1.125em;
  color: rgba(204, 204, 255, 1);                                /* Blue-light */
  border-radius: 0.375em; 
  background: rgba(204, 153, 102, 1);                           /* Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  margin: 0.625em;
  padding: 0.625em;
  border: rgba(204, 153, 102, 1);                               /* Tan */
}

#detailpgcontent {
  float: right;
  margin: 3.125em 0.625em 0.625em 0.625em;
  border-radius: 0.375em; 
  padding: 0.625em;
  border: rgba(204, 153, 102, 1);                               /* Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
}

#detailpgcontent h2 {
  color: rgba(153, 204, 255, 1);                                /*  Blue-medium */
  border-radius: 0.375em; 
  padding: 0.313em;
  background: rgba(204, 153, 102, 1);                           /* Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
}

#detailDress {
  float: left;
  width: 45%;
  border-radius: 0.375em; 
  margin: 0.625em;
  padding: 0.313em;
}

.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}
.sortable li { 
  margin: 0 0.188em 0.188em 0.188em; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 1.125em;
}
.sortable li span { 
  position: absolute; 
  margin-left: -1.3em; 
}


.selectable {
  background-color: rgba(153, 204, 255, 1);                     /*  Blue-medium */
  color: rgba(204, 153, 102, 1);                                /*  Tan */ 
  border: 0.125em solid rgba(204, 153, 102, 1);                 /*  Tan */
}

/*  Styling the content on the detail page and some on the search page, as well --------------------------------  */


#detailDress, #searchFilter {
  font-size: 1.375em;
  padding: 0.625em;
  margin: 0.625em;
  border-radius: 0.375em; 
}


/*  Styling the content on the search page by changing the appearance of a checkbox form and the search filter, etc  */


#searchFilter, .searchpgform {
  color: rgba(204, 153, 102, 1);                                /*  Tan */
  background: rgba(51, 204, 204, 1);                            /*  Teal */
  border: 0.063em solid rgba(204, 153, 102, 1);                 /*  Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Tan */
  margin: 0.625em;
  padding: 0.625em;
  border-radius: 0.375em; 
  text-shadow: 0.063em 0.125em 0.125em rgba(0, 0, 0, .7);       /*  Black */
}

#searchFilter {
  color: rgba(204, 153, 102, 1);                                /*  Tan */
  background: rgba(51, 204, 204, 1);                            /*  Teal */
  border: 0.063em solid rgba(204, 153, 102, 1);                 /*  Tan */
  border-radius: 0.375em; 
}

.searchpgform {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  background: rgba(204, 153, 102, 1);                           /*  Tan */
  border: 0.063em solid rgba(51, 204, 204, 1);                  /*  Teal */
  border-radius: 0.375em; 
}

.searchPics {
  float: left;
}


/*  Styling on signup page for header and form - uncertain whether or not to further develop this page  */

#signupHdr {
  font-size: 1.250em;
  background-color: rgba(204, 204, 255, 1);                     /*  Blue-light */
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  padding: 0.625em;
  margin-top: 3.125em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
}

button.btn.btn-success, input#mycartbtn.masterTooltip, #addfavorites, #searchbtn, button#logIn, button#signup, button#register {
  font-size: 1.125em;
  color: rgba(204, 153, 102, 1);                                /*  Tan */
  background: rgba(51, 204, 204, 1);                            /*  Teal */
  border: 0.063em solid rgba(204, 153, 102, 1);                 /*  Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Tan */
  margin: 0.625em;
  padding: 0.625em;
  border-radius: 0.375em; 
  text-shadow: 0.063em 0.125em 0.125em rgba(0, 0, 0, .7);       /*  Black */
}


/*   commented out, because I put the hover classes in the desktop (and above) media queries ------------- 

button.btn.btn-success:hover, input#mycartbtn.masterTooltip:hover, #addfavorites:hover, #searchbtn:hover, button#logIn:hover, button#signup:hover, button#register:hover {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
/*  background: rgba(204, 153, 102, 1);                           /*  Tan */
/*  border: 0.063em solid rgba(51, 204, 204, 1);                  /*  Teal */
/*  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Teal */
/*  margin: 0.625em;
  padding: 0.625em;
  border-radius: 0.375em;
  text-shadow: 0.063em 0.125em 0.125em rgba(0, 0, 0, .7);       /*  Black */
 /* } */

/* Styling My Cart page -------------------------- */

#mycartitems {
  position: absolute;
  color: rgba(204, 153, 102, 1);                                /*  Tan */
  background: rgba(51, 204, 204, 1);                            /*  Teal */
  border: 0.063em solid rgba(204, 153, 102, 1);                 /*  Tan */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  margin: 0.625em;
  padding: 0.625em;
  border-radius: 0.375em; 
  text-shadow: 0.063em 0.125em 0.125em rgba(0, 0, 0, .7);       /*  Black */
}

/*   commented out, because I put the hover classes in the desktop (and above) media queries...

#mycartitems:hover {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
/*  background:rgba(204, 153, 102, 1);                            /*  Tan */
/*  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
/* } */


#mycartmove {
  width: 55.313em;
  margin-top: 6.250em;
  border-radius: 0.375em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);
}



/* The Dreaded Media Queries --------------------------------------------------  */


/* Mobile-small (landscape) ----------- */

@media only screen and (max-device-width : 768px) {
  
  #about {
    font-size: 1.250em;
    line-height: 1;
  }

  section {
    width: 90%;
  }

  .articles {
    width: 90%;
    margin: 0.313em;
  }

  #loginimgs {
    float: none;
  }

  img.boy, img.girl, img.ads {
    top: 0;
    width: 40%;
  }

  #favesAbout, #searchAbout {
    font-size: 1.250em;
    width: 20.125em;
    margin-top: 3.00em;
  }

  #bestmatch {
    width: 60%;
  }

  #jumbotron img {
    width: 50%;
    height: 50%;
  }

  #login, #newMember {
    width: 30%;
  }

  .masterTooltip, #username, #password {
    width: 30%;
    padding: 0.313em;
    margin: 0.313em;
  }

  #sortable {
    width: 85%;
  }

  #detailpgcontent, #detailDress {
    float: none;
    width: 90%;
  }

}

/* Tablets ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {

  #about {
    font-size: 1.275em;
    line-height: 1.50;
  }

  #loginimgs {
    float: left;
  }

  #favesAbout, #searchAbout {
    font-size: 1.275em;
    width: 23.350em;
    margin-top: 3.475em;
  }

  img.boy, img.girl, img.ads {
    top: 0;
    width: 75%;
  }

  #bestmatch {
    width: 75%;
  }

  #jumbotron img {
    width: 75%;
    height: 75%;
  }

  #sortable {
    width: 75%;
  }

  #detailpgcontent, #detailDress {
    float: none;
    width: 75%;
  }

}

/* Desktops and laptops ----------- */

@media only screen and (min-width : 1024px) {
  
  #favesAbout:hover, #searchAbout:hover {
  white-space: normal;
  font-size: 1.525em;
  background-color: rgba(51, 204, 204, 1);                      /*  Teal */
  color: rgba(204, 153, 102, 1);                                /* Tan */
  padding: 1.250em;
  margin-top: 4.688em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  border: 0.125em solid rgba(204, 153, 102, 1);                 /* Tan */
  text-shadow: rgba(0, 0, 0, .7);                               /*  Black */
  } 

  button.btn.btn-success:hover, input#mycartbtn.masterTooltip:hover, #addfavorites:hover, #searchbtn:hover, button#logIn:hover, button#signup:hover, button#register:hover {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  background: rgba(204, 153, 102, 1);                           /*  Tan */
  border: 0.063em solid rgba(51, 204, 204, 1);                  /*  Teal */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Teal */
  margin: 0.625em;
  padding: 0.625em;
  border-radius: 0.375em;
  text-shadow: 0.063em 0.125em 0.125em rgba(0, 0, 0, .7);       /*  Black */
  }

  #mycartitems:hover {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  background:rgba(204, 153, 102, 1);                            /*  Tan */
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  }

}

/* Large screens ----------- */

@media only screen and (min-width : 1200px) {
  
  #favesAbout:hover, #searchAbout:hover {
  white-space: normal;
  font-size: 1.525em;
  background-color: rgba(51, 204, 204, 1);                      /*  Teal */
  color: rgba(204, 153, 102, 1);                                /* Tan */
  padding: 1.250em;
  margin-top: 4.688em;
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Black */
  border: 0.125em solid rgba(204, 153, 102, 1);                 /* Tan */
  text-shadow: rgba(0, 0, 0, .7);                               /*  Black */
  }

  button.btn.btn-success:hover, input#mycartbtn.masterTooltip:hover, #addfavorites:hover, #searchbtn:hover, button#logIn:hover, button#signup:hover, button#register:hover {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  background: rgba(204, 153, 102, 1);                           /*  Tan */
  border: 0.063em solid rgba(51, 204, 204, 1);                  /*  Teal */
  box-shadow: 0.063em 0.125em 0.188em rgba(0, 0, 0, .7);        /*  Teal */
  margin: 0.625em;
  padding: 0.625em;
  border-radius: 0.375em;
  text-shadow: 0.063em 0.125em 0.125em rgba(0, 0, 0, .7);       /*  Black */
  }

  #mycartitems:hover {
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  background:rgba(204, 153, 102, 1);                            /*  Tan */
  border: 0.125em solid rgba(51, 204, 204, 1);                  /*  Teal */
  }

}



