
/*  Siolon’s Global Reset */


* {  
  vertical-align: baseline;  
  font-family: inherit;  
  font-style: inherit;  
  font-size: 100%;  
  border: none;  
  padding: 0;  
  margin: 0;  
  }  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
  margin: 20px 0;  
  }  
li, dd, blockquote {  
  margin-left: 40px;  
  }  
table {  
  border-collapse: collapse;  
  border-spacing: 0;  
  }


  /*  My CSS */

  /*  General Styling  */


  body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(255, 204, 102, 1);         /* Yellow */
    padding: 5px;
    margin-top: 30px;
    line-height: 2;
  }

  h1, h2 {
    font-family: 'Poiret One', cursive;
    background-color: rgba(204, 153, 102, 1);         /* Tan */
    color: rgba(204, 204, 255, 1);                    /*  Blue-light */
    color: rgba(204, 204, 255, 1);                    /*  Blue-light */          
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);              /*  Black */
  }

  /* Styling Links */

a:link {
  color: rgba(51, 204, 204, 1);                        /*  Teal */
  text-decoration: none;
}
a:visited { 
  color: rgba(153, 204, 255, 1);                       /*  Blue-medium */ 
}
a:hover {
  color: rgba(204, 204, 255, 1);                       /*  Blue-light */
  text-decoration: underline;
  background-color: rgba(255, 204, 102, .75);          /* Yellow */
}
a:active {
  color: rgba(51, 204, 204, 1);                        /*  Teal */
  text-decoration: underline;
}

/*   Styling the Jumbotron on the index page  */

#jumbotron {
  padding: 30px 15px;
  margin-top: 75px;
  color: inherit;
  background-color: rgba(204, 153, 102, 1);             /* Tan */
}

/*   Tooltips styling   */

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid rgba(153, 204, 255, 1);             /*  Blue-medium */
  background-color: rgba(204, 153, 102, 1);             /* Tan */
  border-radius: 4px;
  padding: 10px;
  color: rgba(153, 204, 255, 1);                        /*  Blue-medium */
  font-size: 16px;
}

/*   Styling the sections and articles on the results page  */

section {
  width: 75%;
  position: static;
  padding: 10px;
  margin: 10px;
  background-color: rgba(204, 204, 255, 1);             /*  Blue-light */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

.articles {
  width:80%;
  background-color: rgba(153, 204, 255, 1);             /*  Blue-medium */
  color: rgba(255, 169, 75, 1);                         /* Orange */
  padding: 5px;
  margin: 5px;
  border: 3px solid rgba(255, 169, 75, 1);              /* Orange */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);            /*  Black */
}


/*  Styling for the 'About' section on the index page */

#about {
  color: rgba(51, 204, 204, 1);                           /*  Teal */;
  background: rgba(255, 169, 75, 1);                      /* Orange */
  position: relative;
  padding: 5px;
  margin: 10px;
  left: 360px;
  top: -710px;
  font-size: 22px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);              /*  Black */
}

/*  Just moving the headers farther down the page on the results page  */

#bestmatch {
  margin-top: 50px;
}

/*  Styling for the descriptions on the results page  */

.description {
  position: relative;
  color: rgba(255, 204, 102, .75);                          /* Yellow */
  font-size: 24px;
  padding: 5px;
  margin: 5px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .7);               /*  Black */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                  /*  Black */
}

h3.namestyles {
  color: rgba(255, 169, 75, 1);                             /* Orange */  
  font-size: 28px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .7);               /*  Black */
}

/*  Styling for the login and new member forms on the login page - I was considering combining them, depending on the requirements.  */

#login, #newMember {
  font-size: 20px;
  color: rgba(51, 204, 204, 1);                               /*  Teal */
  border: 2px solid rgba(255, 169, 75, 1);                    /* Orange */  
  padding: 5px;
  margin: 15px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                  /*  Black */
}

div#login {
  margin-top: 80px;
}

form.login {
  height: 200px;
  margin: 10px;
}
/*  Styling Images  */

#loginimgs {
  margin-top: 120px;
  float: left;
  border: 2px solid rgba(255, 169, 75, 1);                    /* Orange */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                  /*  Black */
  padding: 10px;
  background: rgba(255, 204, 102, .75);                       /* Yellow */
  margin: 10px;
}

img.boy, img.girl, img.ads {
  top: 60px;
  border: 2px solid rgba(51, 204, 204, 1);                    /*  Teal */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                  /*  Black */
  padding: 10px;
  background: rgba(255, 204, 102, .75);                       /* Yellow */
  margin: 10px;
}

/*  Styling for a little bit more content that is comprised of 'About' pages for the favorites, detail, signup and search pages,
                 as there is not much content on those as of yet...Then, adding some effects to the content in the About Sections,
                 which help guide the users  */

#favesAbout, #searchAbout {
  font-size: 24px;
  background-color: rgba(204, 204, 255, 1);                   /*  Blue-light */
  color: rgba(51, 204, 204, 1);                               /*  Teal */
  padding: 20px;
  margin-top: 75px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                  /*  Black */
  border: 2px solid rgba(51, 204, 204, 1);                    /*  Teal */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
  cursor: pointer;
}


#favesAbout:hover, #searchAbout:hover {
  white-space: normal;
  font-size: 24px;
  background-color: rgba(51, 204, 204, 1);                  /*  Teal */
  color: rgba(204, 204, 255, 1);                            /*  Blue-light */
  padding: 20px;
  margin-top: 75px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                /*  Black */
  border: 2px solid rgba(204, 204, 255, 1);                 /*  Blue-light */
}


.searchPics {
  float: left;
}


/*  Attempting to style the image on the detail page  */

#detailDress img {
  width: 40%;
  height: 40%;
  border: 2px solid rgba(51, 204, 204, 1);                      /*  Teal */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                    /*  Black */
  margin-top: 60px;
}

/*  Styling the content on the detail page and some on the search page, as well */


#detailDress, #searchFilter {
  font-size: 22px;
  padding: 10px;
  margin: 10px;
  border-radius: 6px; 


}

/*  Styling the content on the search page by changing the appearance of a checkbox form and the search filter  */


#searchFilter, .searchpgform {
  color: rgba(204, 153, 102, 1);                           /*  Tan */
  background: rgba(51, 204, 204, 1);                       /*  Teal */
  border: 1px solid rgba(204, 153, 102, 1);                /*  Tan */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);               /*  Tan */
  margin: 10px;
  padding: 10px;
  border-radius: 6px; 
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);              /*  Black */
}

#searchFilter {
  color: rgba(204, 153, 102, 1);                           /*  Tan */
  background: rgba(51, 204, 204, 1);                       /*  Teal */
  border: 1px solid rgba(204, 153, 102, 1);                /*  Tan */
  border-radius: 6px; 
}

.searchpgform {
  color: rgba(51, 204, 204, 1);                            /*  Teal */
  background: rgba(204, 153, 102, 1);                      /*  Tan */
  border: 1px solid rgba(51, 204, 204, 1);                 /*  Teal */
  border-radius: 6px; 
}

/*  Styling the content on the detail page so the projects can be styled and rearranged  */


#detailpg {
  width: 90%;
  position: absolute;
  background: rgba(204, 204, 255, 1);                           /* Blue-light */
  border-radius: 6px; 
  padding: 10px;
  margin:10px;
  border: 2px solid rgba(51, 204, 204, 1);                      /*  Teal */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                    /*  Black */
}

.detaildescript {
  width: 400px;
  position: relative;
  font-size: 18px;
  color: rgba(51, 204, 204, 1);                                 /*  Teal */
  border-radius: 6px; 
  background: rgba(255, 169, 75, 1);                            /* Orange */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                    /*  Black */
  margin: 10px;
  padding: 10px;
  border: rgba(204, 153, 102, 1);                                /* Tan */
}

#detailpgcontent {
  float: left;
  position: relative;
  top: -800px;
  right: -600px;
  margin: 50px 10px 10px 10px;
  border-radius: 6px; 
  padding: 10px;
  border: rgba(204, 153, 102, 1);                                /* Tan */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                    /*  Black */
  background: rgba(255, 204, 102, .75);                          /* Yellow */
}

#detailpgcontent h2 {
  border: rgba(204, 153, 102, 1);                                /* Tan */
  color: rgba(204, 204, 204, 1);                                 /*  Grey-light */
  border-radius: 6px; 
  padding: 5px;
  background: rgba(51, 204, 204, 1);                             /*  Teal */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);                    /*  Black */
}

#detailDress {
  float: left;
  width: 70%;
  border-radius: 6px; 
  margin: 10px;
  padding: 5px;
}

.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}
.sortable li { 
  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 18px;
}
.sortable li span { 
  position: absolute; 
  margin-left: -1.3em; 
}


.selectable {
  background-color: rgba(153, 204, 255, 1);             /*  Blue-medium */
  color: rgba(224, 185, 114, 1);                        /*  Orange */ 
  border: 2px solid rgba(224, 185, 114, 1);             /*  Orange */ 
}


/*  Styling on signup page for header and form - uncertain whether or not to further develop this page  */

#signupHdr {
  font-size: 20px;
  background-color: rgba(204, 204, 255, 1);               /*  Blue-light */
  color: rgba(51, 204, 204, 1);                           /*  Teal */
  padding: 10px;
  margin-top: 50px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);              /*  Black */
  border: 2px solid rgba(51, 204, 204, 1);                /*  Teal */
}

button.btn.btn-success, input#mycartbtn.masterTooltip, #addfavorites, #searchbtn, button#logIn, button#signup, button#register {
  font-size: 18px;
  color: rgba(204, 153, 102, 1);                           /*  Tan */
  background: rgba(51, 204, 204, 1);                       /*  Teal */
  border: 1px solid rgba(204, 153, 102, 1);                /*  Tan */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);               /*  Tan */
  margin: 10px;
  padding: 10px;
  border-radius: 6px; 
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);              /*  Black */
}


button.btn.btn-success:hover, input#mycartbtn.masterTooltip:hover, #addfavorites:hover, #searchbtn:hover, button#logIn:hover, button#signup:hover, button#register:hover {
  color: rgba(51, 204, 204, 1);                            /*  Teal */
  background: rgba(204, 153, 102, 1);                      /*  Tan */
  border: 1px solid rgba(51, 204, 204, 1);                 /*  Teal */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);               /*  Teal */
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);              /*  Black */
}

input#mycartbtn.masterTooltip {
  
}


#mycartitems {
  position: absolute;
  color: rgba(204, 153, 102, 1);                           /*  Tan */
  background: rgba(51, 204, 204, 1);                       /*  Teal */
  border: 1px solid rgba(204, 153, 102, 1);                /*  Tan */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);               /*  Black */
  margin: 10px;
  padding: 10px;
  border-radius: 6px; 
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);              /*  Black */
}

#mycartitems:hover {
  color: rgba(51, 204, 204, 1);                       /*  Teal */
  background:rgba(204, 153, 102, 1);                  /*  Tan */
  border: 2px solid rgba(51, 204, 204, 1);            /*  Teal */
}


.articles {
  margin: 10px;
  padding: 5px;
  border-radius: 6px;
}

#mycartmove {
  width: 885px;
  margin-top: 100px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

/*  General Styling regarding the Jumbotron - currently incomplete, as far as the whole project is concerned...  */



