
/*  Siolon’s Global Reset */


* {  
  vertical-align: baseline;  
  font-family: inherit;  
  font-style: inherit;  
  font-size: 100%;  
  border: none;  
  padding: 0;  
  margin: 0;  
  }  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
  margin: 20px 0;  
  }  
li, dd, blockquote {  
  margin-left: 40px;  
  }  
table {  
  border-collapse: collapse;  
  border-spacing: 0;  
  }


  /*  My CSS */

  /*  General Styling  */


  body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fc6;
    padding: 5px;
    margin-top: 30px;
    line-height: 1.42857143;
  }

  h1, h2 {
    font-family: 'Poiret One', cursive;
    background-color: #c96;
    color: #ccf;
    margin: 5px;
    padding: 5px;
  }

  /* Styling Links */

a:link {
  color: #3cc;
  text-decoration: none;
}
a:visited {
  color: #9cf;
}
a:hover {
  color: #ccf;
  text-decoration: underline;
  background-color: rgba(255, 204, 102, .5);
}
a:active {
  color: #3cc;
  text-decoration: underline;
}

/*   Styling the Jumbotron on the index page  */

.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #c96;
}


/*   Styling the sections and articles on the results page  */

section {
  width: 75%;
  position: static;
  padding: 10px;
  margin: 10px;
  background-color: #ccf;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

.articles {
  width:80%;
  background-color: #9cf;
  color: #cc6;
  padding: 5px;
  margin: 5px;
  border: 3px solid rgba(224, 185, 114, 1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

/*  Styling for the button on the index page for signing up as a new member  */

#register {
  background-color: #cc6;
  color: #3cc;
  padding: 10px;
  margin: 5px;
  font-size: 22px;
  position: relative;
}

/*  Styling for the 'About' section on the index page */

#about {
  position: relative;
  padding: 5px;
  margin: 10px;
  float: left;
  font-size: 22px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

/*  Just moving the headers farther down the page on the results page  */

#bestmatch {
  margin-top: 100px;
}

/*  Styling for the descriptions on the results page  */

.description {
  position: relative;
  color: #fc6;
  font-size: 24px;
  padding: 5px;
  margin: 5px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

h3.namestyles {
  color: rgba(224, 185, 114, 1);
  font-size: 28px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

/*  Styling for the login and new member forms on the login page - I was considering combining them, depending on the requirements.  */

#login, #newMember {
  font-size: 20px;
  border: 2px solid #cc6;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

/*  Attempting to Style the images on the login page  */

#login1, #login2, #login3 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 100px;
  display: inline;
}

/*  Styling for a little bit more content that is comprised of 'About' pages for the favorites, detail, signup and search pages,
                 as there is not much content on those as of yet...Then, adding some effects to the content in the About Sections,
                 which help guide the users  */

#favesAbout, #searchAbout {
  font-size: 24px;
  background-color: #ccf;
  color: #3cc;
  padding: 20px;
  margin-top: 100px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
  border: 2px solid rgba(51, 204, 204, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
  cursor: pointer;
}

#favesAbout:hover, #searchAbout:hover {
  white-space: normal;
  font-size: 24px;
  background-color: #ccf;
  color: #3cc;
  padding: 20px;
  margin-top: 100px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
  border: 2px solid rgba(51, 204, 204, 1);
}


#searchPics {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
  border: 2px solid rgba(51, 204, 204, 1);
}


/*  Attempting to style the image on the detail page  */

#detailDress img {
  width: 40%;
  height: 40%;
  border: 2px solid rgba(51, 204, 204, 1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
  margin-top: 60px;
}

/*  Styling the content on the detail page and some on the search page, as well */


#detailDress, #searchFilter {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}


/*  Styling the content on the detail page so the projects can be rearranged */


.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}


.sortable li { 
  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 18px; 
}



.sortable li span { 
  position: absolute; 
  margin-left: -1.3em; 
}


.selectable {
  background-color: #9cf;
  color: rgba(224, 185, 114, 1);
  border: 2px solid rgba(224, 185, 114, 1);
}

/*  Styling on signup page for header and form - uncertain whether or not to further develop this page  */

#signupHdr {
  font-size: 20px;
  background-color: #ccf;
  color: #3cc;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
  border: 2px solid rgba(51, 204, 204, 1);
  }


/*  General Styling regarding the Jumbotron - currently incomplete, as far as the whole project is concerned...  */

@media screen and (min-width: 768px){
  
}


